<div class="content">
    <div class="menu">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">THÔNG TIN CÔNG TRÌNH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HẠNG MỤC CÔNG TRÌNH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HẠNG MỤC GIÁM SÁT CHẤT LƯỢNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">CHẤT LƯỢNG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">HỢP ĐỒNG THUÊ VỊ TRÍ</a>
            </li>
        </ul>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <span class="panel-title">Thông tin công trình</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Nguồn vốn triển khai</label>
                        <br>
                        <input type="radio" class="input_radio" name="optradio" checked>
                        <label class="radio_text" for="">Nguồn đầu tư</label>
                        <input type="radio" class="input_radio" id="nguonchiphi" name="optradio">
                        <label class="radio_text" for="nguonchiphi">Nguồn chi phí</label>

                    </div>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Dự án đầu tư <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Loại công trình <span style="color: red;">*</span></label>
                        <select class="form-control" id="sel1">
                            <option class="d-none"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="select_code">
                            <input type="radio" class="input_radio" name="code" checked>
                            <label class="radio_text" for="">Nguồn đầu tư</label>
                            <input type="radio" class="input_radio" id="nguonchiphi" name="code">
                            <label class="radio_text" for="nguonchiphi">Nguồn chi phí</label>
                        </div>
                        <input type="text" class="form-control" id="type_code">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="">Địa chỉ công trình <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <span class="panel-title">Thông tin chung</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Số hợp đồng <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Tên hợp đồng <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Mã công trình <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Tên công trình <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="">Địa chỉ công trình <span style="color: red;">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>